.botao-flutuante__link {
    background-color: var(--azul);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 70px;
    right: 25px;
    box-shadow: 0 4px 16px rgba(72, 148, 255, 0.5);
    z-index: 5;
    cursor: pointer;
    outline: none;
}

.botao-flutuante__link:hover {
    background-color: var(--azul-hover);
    transform: scale(120%);
    transition: .1s;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    gap: 1rem;
    padding: 67vh 25px 280px 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 2;
}

.botao-flutuante__link:focus + .menu-lateral{
    opacity: 1;
	transform: scale(1);
}

.botao-flutuante__link:focus + .menu-lateral > .menu-lateral__item {
    transform: scale(1);
}

.menu-lateral__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    transition: .3s ease;
	transform: scale(0);
    transform-origin: 85% bottom;
}

.menu-lateral__item__texto {
    font-size: .75rem;
    line-height: 160%;
    background-color: var(--bg-secundario);
    padding: 0 .5rem;
    border-radius: 23px;
}

.menu-lateral__item__local, .menu-lateral__item__video {
    width: 56px;
    height: 56px;
    background-color: var(--azul);
    border-radius: 50%;
}

.botao-flutuante__local,
.botao-flutuante__video {
    background-color: var(--azul);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 16px rgba(72, 148, 255, 0.5);
    z-index: 5;
    cursor: pointer;
}

.botao-flutuante__local:hover,
.botao-flutuante__video:hover {
    background-color: var(--azul-hover);
    transform: scale(120%);
    transition: .1s;
}

@media screen and (min-width:1440px) {
    .botao-flutuante {
        display: none;
    }
}
